/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use './reset.css';

// Root variables
:root {
  font-size: 16px;
  font-display: fallback;
}

// Default link style
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin-inline: auto;
  max-width: 640px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $montserrat;
  color: $neutral-black;
  background: $neutral-white;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.text-mark {
  color: $primary-blue;
}