/* Variables and mixins declared here will be available in all other SCSS files */

// Colors
$primary-blue: #2a4376;
$primary-yellow: #ffc866;
$neutral-black: #121212;
$neutral-white: #f8f8f8;
// $neutral-gray: ;
$neutral-light-gray: #e2e2e2;

// Transparent colors
$transparent-neutral-white: #f8f8f8ee;
$transparent-neutral-light-gray: #e2e2e2dd;

// Box-shadow
$main-shadow: #12121290 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) #12121290 0px 1px 2px 0px;
$second-shadow: #12121205 0px 1px 2px 0px;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$montserrat-italic: 'Montserrat Italic', sans-serif;
$montserrat-semibold: 'Montserrat SemiBold', sans-serif;
$montserrat-semibold-italic: 'Montserrat SemiBold Italic', sans-serif;

@media screen and (prefers-color-scheme: light) {
	// body {}
}

@media screen and (prefers-color-scheme: dark) {
	// body {}
}
